base58check==1.0.2
black==24.3.0
Django==5.0.4
django-compressor==4.4
django-cors-headers==4.3.1
django-filter==24.2
django-haystack==3.2.1
django-tailwind==3.8.0
djangorestframework==3.15.1
djoser==2.2.2
PyMySQL==1.1.0
pytest==8.1.1
setuptools==69.2.0
wheel==0.43.0

