{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" id="mainStylesheet"/>
        <link rel="stylesheet" href="{% static 'css/dracula.css' %}" id="draculaStylesheet"/>
        <link rel="stylesheet" href="{% static 'css/dracula-ui.css' %}" id="draculaUiStylesheet"/>
        <link rel="icon" type="image/jpg" href="{% static 'img/logo-squared.jpg' %}"/>
        <title>Senescalade</title>
    </head>
    <body>
        <script src="{% static 'js/main.js' %}"></script>
        <h1><a href='/'>Senescalade</a></h1>

        {% block content %}{% endblock %}

    </body>
</html>
