{% extends "base.html" %}

{% block content %}
<h1>Compléter l'inscription</h1>
<form method="post" id="complete_register">
    {% csrf_token %}
    <input type="hidden" name="form_id" value="complete_register" id="form_id" />
    <input type="hidden" name="seance" value="{{ event_id }}" id="seance" />
    <input type="hidden" name="lInscription" id="lInscription" />
    <input type="hidden" name="user" value="{{ user }}" id="user" />
    {{ form.as_p }}
    <button type="submit">Terminer l'inscription</button>
</form>
<script>
    var uid = JSON.parse('{{ user|safe }}')[0].pk;
    document.getElementById("lInscription").value = uid;
    var user = JSON.parse('{{ user|safe }}')[0].fields;
    var dateNaissance = new Date(user.dateNaissance);
    var today = new Date();
    var age = today.getFullYear() - dateNaissance.getFullYear();
    var m = today.getMonth() - dateNaissance.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < dateNaissance.getDate())) {
        age--;
    }
    if (age < 18) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "typeLicence");
        input.setAttribute("value", "J");
        document.getElementById("complete_register").appendChild(input);
    } else {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "typeLicence");
        input.setAttribute("value", "A");
        document.getElementById("complete_register").appendChild(input);
    }
</script>
{% endblock %}
