{% extends 'base.html' %}

{% block content %}

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                initialView: 'timeGridWeek',
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                firstDay: 1,
                titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },
                buttonText: {
                    today:    'Aujourd\'hui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'Liste'
                },
                allDaySlot: false,
                dayHeaderFormat: { weekday: 'long' },
                headerToolbar: {
                    left: '',
                    center: '',
                    right: ''
                },
                selectable: true,
                height: 'auto',
            });
            calendar.render();
        });
    </script>

    <h1>Bienvenue sur votre profil</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jour</th>
                <th>Heure de Séance</th>
                <th>Durée de Séance</th>
                <th>Type de Séance</th>
                <th>Niveau</th>
                <th>Nombre de Places</th>
                <th>Nombre de Places Restantes</th>
                <th>Professeur</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in data %}
                <tr>
                    <td>{{ instance.idSeance }}</td>
                    <td>{{ instance.jour }}</td>
                    <td>{{ instance.heureSeance }}</td>
                    <td>{{ instance.dureeSeance }}</td>
                    <td>{{ instance.typeSeance }}</td>
                    <td>{{ instance.niveau }}</td>
                    <td>{{ instance.nbPlaces }}</td>
                    <td>{{ instance.nbPlacesRestantes }}</td>
                    <td>{{ instance.professeur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id='calendar'></div>

{% endblock %}
