{% extends 'base.html' %}

{% block content %}

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                initialView: 'timeGridWeek',
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                firstDay: 1,
                titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },
                buttonText: {
                    today:    'Aujourd\'hui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'Liste'
                },
                allDaySlot: false,
                dayHeaderFormat: { weekday: 'long' },
                headerToolbar: {
                    left: '',
                    center: '',
                    right: ''
                },
                selectable: true,
                height: 'auto',
                eventBackgroundColor: '#44475A',
                eventBorderColor: '#BD93F9',
                eventTextColor: '#F8F8F2',
            });

            const dayNameToIndex = {
                "Dimanche": 0,
                "Lundi": 1,
                "Mardi": 2,
                "Mercredi": 3,
                "Jeudi": 4,
                "Vendredi": 5,
                "Samedi": 6
            };
            const currentDate = new Date();
            const currentDayIndex = currentDate.getDay();

            var events = [];
            {% for instance in data %}
                var desiredDay = '{{ instance.jour }}';
                var desiredDayIndex = dayNameToIndex[desiredDay];
                var daysDifference = desiredDayIndex - currentDayIndex;
                var desiredDate = new Date(currentDate);
                desiredDate.setDate(currentDate.getDate() + daysDifference);
                if (desiredDate > currentDate) {
                    desiredDate.setDate(desiredDate.getDate() - 7);
                }
                var formattedDate = desiredDate.toISOString().slice(0, 10);

                var event = {
                    id: '{{ instance.idSeance }}',
                    title: '{{ instance.typeSeance }}{% if instance.niveau != "" %} - {{ instance.niveau }}{% endif %}',
                    start: '{{ instance.heureSeance|safe }}',
                    end: '{{ instance.dureeSeance|safe }}',
                    allDay: false,
                    /*extendedProps: {
                        nbPlaces: '{{ instance.nbPlaces }}',
                        nbPlacesRestantes: '{{ instance.nbPlacesRestantes }}',
                        professeur: '{{ instance.professeur }}',
                        dureeSeance: '{{ instance.dureeSeance }}',
                    },
                    backgroundColor: '{% if instance.nbPlacesRestantes == 0 %}#ff0000{% else %}#00ff00{% endif %}',*/
                };
                event.start = formattedDate + 'T' + event.start;
                event.end = formattedDate + 'T' + event.end;
    
                events.push(event);
                console.log(formattedDate, event)
            {% endfor %}
            calendar.addEventSource(events);
            calendar.render();
        });
    </script>

    <h1>Bienvenue sur votre profil</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jour</th>
                <th>Heure de Séance</th>
                <th>Durée de Séance</th>
                <th>Type de Séance</th>
                <th>Niveau</th>
                <th>Nombre de Places</th>
                <th>Nombre de Places Restantes</th>
                <th>Professeur</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in data %}
                <tr>
                    <td>{{ instance.idSeance }}</td>
                    <td>{{ instance.jour }}</td>
                    <td>{{ instance.heureSeance }}</td>
                    <td>{{ instance.dureeSeance }}</td>
                    <td>{{ instance.typeSeance }}</td>
                    <td>{{ instance.niveau }}</td>
                    <td>{{ instance.nbPlaces }}</td>
                    <td>{{ instance.nbPlacesRestantes }}</td>
                    <td>{{ instance.professeur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id='calendar'></div>

{% endblock %}
