{% extends "base.html" %}
{% load static %}

{% block content %}

    <script src="{% static 'vendor/fullcalendar-6.1.10/dist/index.global.min.js' %}"></script>
    <script>
        let styleSheet = document.getElementById("draculaStylesheet");
        styleSheet.disabled = true;
        document.addEventListener("DOMContentLoaded", function() {
            let calendarEl = document.getElementById("calendar");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: "fr",
                initialView: "timeGridWeek",
                firstDay: 1,
                titleFormat: { year: "numeric", month: "long", day: "numeric" },
                buttonText: {
                    today:    "Aujourd'hui",
                    month:    "Mois",
                    week:     "Semaine",
                    day:      "Jour",
                    list:     "Liste"
                },
                allDaySlot: false,
                dayHeaderFormat: { weekday: "long" },
                headerToolbar: {
                    left: '',
                    center: '',
                    right: "prev,next"
                },
                selectable: true,
                height: "auto",
                eventBackgroundColor: "#44475A",
                eventBorderColor: "#BD93F9",
                eventTextColor: "#F8F8F2",
                eventClick: function(info) {
                    if (info.event.extendedProps.nbPlacesRestantes <= 0) {
                        return;
                    }
                    document.getElementById("eventDetails").innerText = `${info.event.title}, ${info.event.extendedProps.jourSeance}, ${info.event.start.toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" })}, Durée: ${minutesToTimeString(calculateDurationInMinutes(info.event.start.toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }), info.event.extendedProps.dureeSeance))}, Places: ${info.event.extendedProps.nbPlaces}, Restantes: ${info.event.extendedProps.nbPlacesRestantes}`;

                    if (selectedEventId) {
                        let oldEvent = calendar.getEventById(selectedEventId);
                        if (oldEvent) {
                            oldEvent.setProp('backgroundColor', '#44475A');
                            oldEvent.setProp('textColor', '#F8F8F2');
                        }
                    }
                    info.event.setProp('backgroundColor', '#50FA7B');
                    info.event.setProp('textColor', '#282A36');
                    selectedEventId = info.event.id;
                    document.getElementById("selectedEventId").value = selectedEventId;
                    document.getElementById("eventForm").style.display = "";
                },
                eventMouseEnter: function(info) {
                    if (info.event.extendedProps.nbPlacesRestantes > 0) {
                        info.el.style.cursor = "pointer";
                    } else {
                        return;
                    }
                    let tooltip = document.createElement("div");
                    tooltip.style.position = "absolute";
                    tooltip.style.top = `${info.jsEvent.pageY}px`;
                    tooltip.style.left = `${info.jsEvent.pageX}px`;
                    tooltip.style.backgroundColor = "#282A36";
                    tooltip.style.color = "#F8F8F2";
                    tooltip.style.padding = "5px";
                    tooltip.style.borderRadius = "5px";
                    tooltip.style.zIndex = "1000";
                    tooltip.innerText = `${info.event.title}, ${info.event.extendedProps.jourSeance}, ${info.event.start.toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" })}, Durée: ${minutesToTimeString(calculateDurationInMinutes(info.event.start.toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }), info.event.extendedProps.dureeSeance))}, Places: ${info.event.extendedProps.nbPlaces}, Restantes: ${info.event.extendedProps.nbPlacesRestantes}`;
                    document.body.appendChild(tooltip);
                    info.el.addEventListener("mouseleave", () => {
                        try {
                            if (tooltip && tooltip.parentNode) {
                                tooltip.parentNode.removeChild(tooltip);
                            }
                        } catch (e) {
                            console.error(e);
                        }
                    });
                },
            });

            let events = [];
            const dataCalendarData = JSON.parse('{{ data|safe }}');
            dataCalendarData.forEach(instance => {
                let event = createEvent(instance.pk, instance.fields);
                events.push(event);
            });

            calendar.addEventSource(events);
            calendar.render();
            checkAllEventsFull(calendar, document);
        });
    </script>

    <h1>Choisissez votre créneau</h1>
    <div id="eventDetails"></div>
    <form id="eventForm" style="display: none;" action="votre_url_suivante" method="post">
        <input type="hidden" id="selectedEventId" name="selectedEventId" value="0">
        {% csrf_token %}
        <button type="submit">Suivant</button>
    </form>
    <form id="waitlistForm" style="display: none;" action="your_waitlist_url" method="post">
        <h2>Toutes les places sont prises. En attendant qu'une place se libère, vous pouvez vous inscrire sur liste d'attente, et nous vous enverrons un mail si une place se libère.</h2>
        {% csrf_token %}
        <input type="checkbox" id="waitlistCheckbox" name="waitlistCheckbox" value="0">
        <button type="submit">S'inscrire à la liste d'attente</button>
    </form>
    <div id="calendar"></div>

{% endblock %}
