{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_id" value="register" />
    {% for field in form %}
        <script>
            console.log(`{{ field|safe }}`);
        </script>
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.field.widget.input_type in 'text,password,email,date' %}
                    <input type="{{ field.field.widget.input_type }}" class="drac-input drac-input-border-md drac-input-purple drac-text-white drac-m-xs" name="{{ field.name }}" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                {% elif field.field.widget.input_type == 'textarea' %}
                    <textarea class="drac-input drac-input-border-md drac-input-purple drac-text-white drac-m-xs" name="{{ field.name }}" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>{{ field.value }}</textarea>
                {% elif field.field.widget.input_type == 'radio' %}
                    {% for choice in field %}
                        <div>
                            <input type="radio" class="drac-radio drac-radio-purple" id="{{ choice.id_for_label }}" name="{{ choice.name }}" value="{{ choice.choice_value }}" {% if choice.is_checked %}checked{% endif %}>
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                {% elif field.field.widget.input_type == 'select' %}
                    {{ form.nationalite }}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endfor %}
    <button type="submit" class="drac-btn drac-bg-animated">Inscription</button>
</form>
{% endblock %}
