@use "vuetify/settings" with (
  $color-pack: false
);

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nunito";
}

.v-theme--light {
  --v-medium-emphasis-opacity: 1 !important;
}

.v-theme--dark {
  --v-medium-emphasis-opacity: 1 !important;
}

input {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill:active {
  border: 1px solid transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #F8F8F2;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset !important;
  box-shadow: 0 0 0px 1000px #00000000 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
