@use 'vuetify/settings' with (
  $color-pack: false
);

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Nunito';
}

.v-theme--light {
  --v-medium-emphasis-opacity: 1 !important;
}

.v-theme--dark {
  --v-medium-emphasis-opacity: 1 !important;
}
